<div class="container" id="question">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="container" id="answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<div>
  <a href=""><%= link_to 'Ask a new question', ask_path %></a>
</div>
